/*archivo esxterno css*/
/*reset html*/
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
#encabezado{
    margin: auto;
    height: 175px;
    width: 980px;
    display: flex;
    justify-content: space-between;
    
}
#contenido{
    background-color: #fafafa;
    width: 980px;
    margin: 0 auto;
}
#encabeado figure, #titulos *{
    margin: 0;
}
#encabezado #titulos *{
    margin: 0;
    
}
#barra-navegacion{
    margin: auto;
    background-color:darkgrey;
    width: 980px;
    height: 50px;
    display: flex;
    justify-content: center;
}
#barra-navegacion li{
    padding: 0;
    display: inline-block;
}
#barra-navegacion ul ul{
    background-color: aquamarine;
    display:none;
}
#barra-navegacion a{
    color: black;
    text-decoration: none;
    padding: 10px 50px;
    background-color:darkgray;
    transition: 0.7s;
}
#barra-navegacion ul{
    padding: 0;
    
}
#barra-navegacion ul > li > a:hover{
    background-color: #83808d;

}
#barra-navegacion > ul > li > a:hover{
    
}
#titulos h1{font-size: 1.5em;}
#titulos h2{font-size: 1.2em;}
#titulos h3{font-size: 0.9em;}
#titulos h4{font-size: 0.8em;}
 #nota-principal{
    margin: auto;
    padding: 0;
    height: 320px;
    width: 960px;
    background-color: chartreuse;
    border: 10px solid;
    border-color:white;
    box-shadow: 0 0 10px grey;
}
#notas-secundaria{
    margin-top: 15px;
    
    width: 760px;
    min-height: 260px;
}
#notas-secundaria article{
    display: flex;
    background-image: url('../imagenes/png/sombra_nota_secundaria.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.imagen-nota-secundaria{
    position: relative;
}
.imagen-nota-secundaria span{
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 5px 20px;
    background-color: lightgrey;
    box-shadow: 1px 1px 3px darkgrey;
}
.horacio{
    padding-left: 20px;
    padding-right: 10px
}
.intro-nota-secundaria{
    padding-bottom: 10px;
    padding-top: 10px;      
    text-align: justify;
    line-height: 0.8em;
}
.horacio{
    font-variant: small-caps;
    line-height: 1.2em;
}
#notas-secundaria a{
    color: #b92025;
    text-decoration: none;
}
.titulo-nota-secundaria:hover{
    text-decoration: underline;
}
.sombra-imagen{
    box-shadow: 0 0 5px darkgray;
}

.la-clase-div p{
    color: white;
    font-weight: bold;
}
.la-clase-div{
    display: inline-block;
    background: #b92025;
    padding: 4px !important;
    box-shadow: 0 2px 3px darkgray;
}
.la-clase-div-dos{
    padding: 5px 10px !important;
    border: 1px solid rgba(255,255,255,.7);
}

figure{
    margin: 0;
    position: relative;
}
.nota-secundaria{
   display: flex; 
   justify-content:space-around;
}
#anuncios{
    margin-top: 15px;
    border-left: 3px double lightgray; 
    width: 210px;
    padding: 5px;
    min-height: 290px;
}
#anuncios>img{
    margin: 3px 0;
}
#pie-de-pagina{
    
    height: 50px;
    width: 980px;
    margin: auto;
    
}
#titulos{
    display: inline-block;
    margin: 0;
    padding-top: 0;
}

#logo-sep{
    width: 300px;
    height: 88px;
}
#programas{
    
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
#politicas{
    border-bottom: 3px double lightgray;
    border-top: 3px double lightgray;
    padding: 5px;
    text-align: center;
    color: #848484;
}
.separador-sems{
    padding: 10px 0;
    margin: 10px 0;
    position: relative;
    text-align: center;
}
.separador-sems a::before, .separador-sems::after{
    content: "";
    border-top: 3px double lightgray;
    width: 340px;
    position: absolute;
    top: 25px;
    
}
.separador-sems a::after{
    right: 0;
}
.separador-sems a::before{
    left: 0;
}
.fexible{
    display: flex;
}
.facebook, .twiter{
    text-indent: -9999px;
    display: inline-block;
    width: 33px;
    height: 33px;
    justify-content: center;
}
.ultima-direccion{
    height: auto;
}
.facebook{
    background: url('../imagenes/png/facebook_twitter.png') 0 0;
}
.twiter{
    background: url('../imagenes/png/facebook_twitter.png') -43px 0;
}
.facebook:hover{
    background: url('../imagenes/png/facebook_twitter.png') 0 -43px;
}
.twiter:hover{
    background: url('../imagenes/png/facebook_twitter.png') -43px -43px;
}
.barra-pie{
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.ultima-direccion{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #848484;
}
.ultima-direccion a{
    text-decoration: none;
    color: #848484;
}