/*archivo esxterno css*/
/*reset html*/
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
#encabezado{
    margin: auto;
    height: 175px;
    width: 980px;
    display: flex;
    justify-content: space-between;
    
}
#contenido{
    width: 980px;
    margin: 0 auto;
}
#encabeado figure, #titulos *{
    margin: 0;
}
#encabezado #titulos *{
    margin: 0;
    
}
#barra-navegacion{
    margin: auto;
    background-color:darkgrey;
    width: 980px;
    height: 50px;
    display: flex;
    justify-content: center;
}
#barra-navegacion li{
    padding: 0;
    display: inline-block;
}
#barra-navegacion ul ul{
    background-color: aquamarine;
    display:none;
}
#barra-navegacion a{
    color: black;
    text-decoration: none;
    padding: 10px 50px;
    background-color:darkgray;
    transition: 0.7s;
}
#barra-navegacion ul{
    padding: 0;
    
}
#barra-navegacion ul > li > a:hover{
    background-color: #83808d;

}
#barra-navegacion > ul > li > a:hover{
    
}
#titulos h1{font-size: 1.5em;}
#titulos h2{font-size: 1.2em;}
#titulos h3{font-size: 0.9em;}
#titulos h4{font-size: 0.8em;}
 #nota-principal{
    margin: auto;
    padding: 0;
    height: 320px;
    width: 960px;
    background-color: chartreuse;
    border: 10px solid;
    border-color:white;
    box-shadow: 0 0 10px grey;
}
#notas-secundaria{
    margin-top: 15px;
    float: left;
    width: 760px;
    min-height: 260px;
}
#notas-secundaria article{
    display: flex;
}
#notas-secundarias figure{
    position: relative;
}
#notas-secundaria figure span{
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 5px 20px;
    background-color: lightgrey;
    box-shadow: 1px 1px 3px darkgrey;
}
#notas-secundaria article div{
    padding-left: 20px;
    padding-right: 10px
}
#notas-secundaria article div p {
    text-align: justify;
    line-height: 0.8em;
}
#notas-secundaria article h2{
    font-variant: small-caps;
    line-height: 0.8em;
}
#notas-secundaria a{
    color: #b92025;
    text-decoration: none;
}
#notas-secundaria a:hover{
    color: #2a6496;
    text-decoration: underline;
}
.sombra-imagen{
    box-shadow: 0 0 5px darkgray;
}
.ver-mas div{
    margin: 0 !important;
    padding: 5px !important;
    
}
.ver-mas>div{
    height: 1.8em;
    background-color: #b92025;
    display: inline-block;
}
.ver-mas>div>div{
    width: 100px;
    border: 1px solid white;
}
.ver-mas p{
    text-align: center;
    color: white;
    font-weight: bold;
}
figure{
    margin: 0;
    position: relative;
}

.nota-secundaria{
   display: flex; 
   justify-content:space-around;
}

#publicidad{
    margin-top: 15px;
    float: right;
    width: 210px;
    padding: 5px;
    height: 500px;
    
    background-color: darkorange;
}
#pie-de-pagina{
    clear: both;
    height: 50px;
    width: 980px;
    margin: auto;
    background-color: darkmagenta;
}



#titulos{
    display: inline-block;
    margin: 0;
    padding-top: 0;
}

#logo-sep{
    width: 300px;
    height: 88px;
}

